test0.csv
test1.csv
train.csv
random_things.py
test0.parquet
test1.parquet
train.parquet
model_state_dict.pth
__pycache__/training_preparation.cpython-311.pyc
train1.parquet
test.csv
train0.parquet
verify.parquet
test.parquet
1.png
test5.png
flagged/log.csv
flagged/Input Image Component/bd24823359e56e5e38ef/gay.png
__pycache__/demo.cpython-311.pyc
__pycache__/demo.cpython-311.pyc
__pycache__/demo.cpython-311.pyc
outlier_0.png
outlier_1.png
outlier_2.png
outlier_3.png
outlier_4.png
outlier_5.png
outlier_6.png
outlier_7.png
outlier_8.png
outlier_9.png
outlier_10.png
outlier_18.png
outlier_23.png
outlier_28.png
outlier_30.png
outlier_29.png
outlier_31.png
outlier_27.png
outlier_26.png
outlier_25.png
outlier_24.png
outlier_22.png
outlier_20.png
outlier_15.png
outlier_16.png
outlier_17.png
outlier_13.png
outlier_19.png
outlier_14.png
outlier_12.png
outlier_11.png
outlier_21.png
