test0.csv
test1.csv
train.csv
random_things.py
test0.parquet
test1.parquet
train.parquet
model_state_dict.pth
__pycache__/training_preparation.cpython-311.pyc
train1.parquet
test.csv
train0.parquet
verify.parquet
test.parquet
new_model_state_dict.pth
1.png
